<h1>DIY::Thread.profile</h1>
<% if @started %>
  <%= link_to "stop", profile_stop_url %> (<b>running</b>)
<% else %>
  <%= link_to "start", profile_start_url %> (<b>not running</b>)
<% end %>

<br /><br />

<%= @nodes.inspect %>
